.mainBannerStyle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.boxMainBanner {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    opacity: 0.9;
    padding: 30px;
}
.texheadBox {
    font-size: 25px;
    font-weight: bold;
}
.textMute {
    opacity: 0.5;
    font-size: 12px;
    margin-top: 10px;
}
.textBox {
    opacity: 0.7;
    font-size: 12px;
    margin-top: 15px; 
}